/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.owl-carousel.psw-container .owl-item img {
    display: inline-block;
    width: auto;
}

.psw-container .owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.psw-container > .owl-controls {
    display: none !important;
}
